
<div class="container-fluid">

  <div class="row">
      <div class="col-3">
          <div >
              <p style="color: red;" > {{message}} </p>
            </div>
      </div>
      <div class="col-6">
  
  <div *ngIf ="reponse == false">
    <h2>Inscription</h2>
    <hr>
      <form name="proposeForm" (ngSubmit)="proposeForm.form.valid && onSubmit()" #proposeForm="ngForm">
          <div class="form-group"> 
        <label for="email">Email</label>
          <input class="form-control" [(ngModel)]="newUser.email" type="text" name="email">
        </div> 
        <div class="form-group">
        <label for="mdp">Mot de Passe</label>
        <input class="form-control"  [(ngModel)]="newUser.password" type="text" name="password" >
      </div>
      <div class="form-group">
          <label for="nom">Nom</label>
        <input class="form-control"  [(ngModel)]="newUser.nom" type="text" name="nom" >
      </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input  class="form-control "  [(ngModel)]="newUser.prenom" type="text" name="prenom" >
        </div> 
        <div class="form-group">
            <label for="role">Role</label>
          <input class="form-control"  [(ngModel)]="newUser.role" type="text" name="role" >
        </div> 
        
            <div class="form-group">
          <label for="age">Ville</label>
        <input class="form-control"  [(ngModel)]="newUser.ville" type="text" name="ville" >
      </div> 
      <div class="form-group">
          <label for="age">Adresse</label>
        <input class="form-control"  [(ngModel)]="newUser.adresse" type="text" name="adresse" >
      </div>
      
      <div class="form-group">
          <label for="tel">Tel</label>
        <input class="form-control"  [(ngModel)]="newUser.tel" type="text" name="telephone" >
      </div> 
        <input class="btn btn-success"  type="submit" value="Valider inscription">
     
      </form> 
    
      

    </div>
  
    
    </div>
    <div class="col-3">
        
      
      </div>
  
      </div>
    </div>
