
<div class="container-fluid">
    <br>
    
    
    <div class="row">
    
    
      <div class="col-8">

       <div  class="alert alert-primary" role="alert">
        <h4>  Listes de demandes!</h4>
      </div>
    </div> 
    
    <div class="col-4">
    
        <div  class="alert alert-info" role="alert">
          <h5> Listes de categories </h5>
          </div>
      </div> 
    
    
    </div>      
    
    
    
    
    
      <div class="row">
      
      
      
      
        <div class="col-8">
    
                      <div   class="card"  *ngFor="let soub of serviceoubien" >
                      <div class="card-header">
                      <span *ngFor="let demande of soub.listedemandes"><b>{{demande.nom}} {{demande.prenom}}</b> </span>
                      </div>
                      <div class="card-body">
                      <h5 class="card-title">{{soub.titre}}</h5>
                      <p class="card-text">{{soub.descriptif}}</p>
                      <p  class="card-text" class="text-success">Prix : <b >{{soub.prix}}</b></p>
                      <a routerLink="./{{soub._id}}" class="btn btn-success">Acceder</a>
                       </div>
                       <div class="card-footer bg-transparent border-success">
                       <span *ngFor="let demande of soub.listedemandes"> <i>ville</i> : {{demande.ville}} </span>
                      </div>
                      </div>
    
        </div>
      <div class="col-4">
    
    
    
        </div>
    
    
    
    </div>
    
    </div>