<div class="row">
    <div class="col-sm">
     
    </div>
    <div class="col-sm">*<div *ngIf="isLoggedIn">
        Bonjour {{newProfil.nom}} {{newProfil.prenom}}! Vous êtes connecté
        <br/><br/>
       
      </div>
  <br><br><hr>
  <h2>Connexion</h2>
  <br><br>
 <form (ngSubmit)="login()">
    <label for="mail">Email</label>
  <input class="form-control" type="text" id="mail" required placeholder="email" [(ngModel)]="mail" name = "email"/><p></p>
    <label for="password">Mot de passe</label>
  <input class="form-control" type="password" id="password" required placeholder="mot de passe" [(ngModel)]="password" name = "password"/><p></p>
  <button  class="btn btn-success">Se connecter</button>
</form>


</div>

<div class="col-sm">
   
  </div>

</div>